/* CSS declarations go here */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
	background-color: #EEE;
	height: 100vh;
	width: 100%;
	overflow:scroll;
}
button {
	margin-left: 10px;
}
#leftPanel {
	width: 49%;
	float: left;
	margin-top: 10px;
	margin-left: 0.5%;
}

#leftPanel div span {
	font-weight: bold;
	font-size: 120%;
	color: #546E7A;
}
#rightPanel {
	width: 49%;
	float: right;
	margin-top: 10px;
	margin-right: 0.5%;
}
.problemTitle {
	width: 100%;
	overflow: auto;
	min-height: 35px;
	font-size: 120%;
}
.problemTitle span {
	line-height: 35px;
	vertical-align: middle;
}
.testCard {
	width: 100%;
	height: 130px;
	margin-top: 10px;
	background-color: white;
	text-align: center;
}
.testConsole {
	width: 80%;
	margin-left: 10%;
	height: 90vh;
	max-height: 650px;
	margin-top: 5vh;
	padding: 1px 5px;
	background-color: white;
	text-align: center;
	overflow: scroll;
}
.testSuccess {
	color: green;
	font-weight: bold;
}
.testFailed {
	color: red;
	font-weight: bold;
}
.testResultTitle {
	overflow: auto;
}
.testResultTitle div {
	width: 46%;
	text-align: center;
}
.testConsole textarea {
	width: 44%;
	height: 50vh;
	background-color: black;
	color: #66FF33;
	padding: 1%;
}
.testMyAnswer {
	float: left;
	margin-left: 2%;
}
.testCorrectAnswer {
	float: right;
	margin-right: 2%;
}
.editorDiv {
	margin-top: 10px;
}
.problemPageButtons {
	height: 35px;
	width: 100%;
}
.problemPageButtons button {
	float: right;
}
.dashboard {
	text-align: center;
	background-image: url("/background.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	overflow: hidden;
}
.dashboardMain {
	overflow: scroll;
	width: 94%;
	margin-left: 2%;
	padding: 0vh 1%;
	height: 98vh;
	margin-top: 1vh;
}
.login {
	background-color: white;
	padding: 40px 0px;
	width: 60%;
	margin-left: 20%;
	margin-top: 150px;
}
.AccountsUIWrapper {
	text-align: left;
	margin: 5px;
}
.AccountsUIWrapper div{
	width: 200px;
	margin: 1px;
}
.Timer {
	text-align: center;
	color: light-grey;
}
.inCodewar {
	color: #66CCCC;
	font-weight: bold;
}
.problemTableAndInsert {
	min-height: 50px;
	padding: 0 1%;
	width: 100%;
	margin-top: 20px;
	opacity: 0.85;
}
.problemConfig {
	width: 60%;
	padding: 2vh 4%;
	margin-left: 16%;
	height: 90vh;
	margin-top: 3vh;
	background-color: white;
	overflow: scroll;
}
.modalBG {
	z-index: 100;
	position: absolute;
	top:0;
	left:0;
	background-color: rgba(0,0,0, 0.6);
	width: 100%;
	height: 100vh;
}
